:root {
    --color-black: #333;
    --color-white: rgb(245,245,245);
    --color-white-transparent: rgba(245,245,245,0.95);
    --color-grey: #999;
    --color-interaction: rgb(67, 125, 231);
    --color-interaction-hover: rgb(45, 93, 182);

    /**
     * System font stack:
     * - https://css-tricks.com/snippets/css/system-font-stack/
     */
    --font-body: 
        -apple-system, 
        BlinkMacSystemFont, 
        "Segoe UI", 
        Roboto, 
        Oxygen-Sans, 
        Ubuntu, 
        Cantarell, 
        "Helvetica Neue", 
        sans-serif;
    /* TODO: Find a better monospace font stack */
    --font-code: monospace;

    --transition-default: ease-out 0.3s;

    --footer-height: 2em;
}

* {
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

body {
    color: var(--color-black);
    font-family: var(--font-body);
    font-size: 1em;
    line-height: 1.5;
}

.app {
    display:flex;
    flex-wrap: wrap;
    padding-bottom: var(--footer-height);
}

.footer {
    align-items: center;
    background: var(--color-white-transparent);
    bottom: 0;
    display: flex;
    height: var(--footer-height);
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
}

.share-link {
    text-align: center;
    width: 100%;
}

.controls, .example {
    margin: 1em;
    padding: 1em;
    overflow: auto;
}

.controls {
    background: var(--color-white-transparent);
}

h1, h2 {
    margin-bottom: 0.5em;
    line-height: 1.2;
}

p {
    margin-bottom: 0.5em;
    max-width: 30em;
}

.colorForm {
    display: flex;
    border: 1px solid var(--color-interaction);
}

.colorForm__input, .colorForm__button {
    display: flex;
}

/**
 * 1. Allow inputs to shrink in flex container:
 *    https://stackoverflow.com/a/42421490
 */ 
.colorForm__input {
    min-width: 0; /* 1 */
    text-align: center;
    font-size: 1.5em;
    flex-grow: 1;
}

.colorForm__button {
    cursor: pointer;
    flex-basis: auto;
    flex-shrink: 0;
    width: 3em;
    height: 3em;
    background: var(--color-interaction);
    color: var(--color-white);
    transform: scale(1.5);
    border-radius: 50%;
    padding: 0.5em;

    transition: 
        background-color var(--transition-default), 
        transform var(--transition-default);

    backface-visibility: hidden;
}

.colorForm__button:hover,
.colorForm__button:focus {
    transform: scale(1.65);
    background: var(--color-interaction-hover);
    outline: none;
}

.colorForm__button:active {
    transform: scale(1.25);
}

.colorForm__button-icon {
    width:100%;
    height:100%;
}

.colorForm__button-icon *{
    fill: none;
    stroke: currentColor;
    stroke-width: 9;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

body {
    transition: background-color var(--transition-default);
}

.example h2,
.example p {
    transition: color var(--transition-default);
}

.example a {
    color: inherit;
    font-weight: bold;
}

/* TODO Make these match the WCAG definitions*/
.large-text {
    font-size: 18pt;
    font-weight: 400;
}

.large-text--bold {
    font-size: 14pt;
    font-weight: 600;
}

.small-text {
    font-size: 14pt;
}

.small-text--bold {
    font-size: 12pt;
    font-weight: 600;
}

.overline {
    text-decoration: overline;
}