<!doctype html>

<head>
  <title>Contrast Checker Easy Start</title>
  <link rel="stylesheet" href="styles/easy-start.css">
</head>

<body>
  <main class="easy-start">
    <div class="easy-start__section">
      <iframe src="pwa"></iframe>
      <a href="pwa">
        <span>PWA</span>
      </a>
    </div>

    <div class="easy-start__section">
      <iframe src="extension"></iframe>
      <a href="extension">
        <span>Extension</span>
      </a>
    </div>
  </main>
</body>