<!doctype html>
<html>
    <head>
        <title>Contrast Checker</title>
        <script src="scripts/app.js" defer></script>

        {{#if (compare mode '===' 'pwa')}}
            <script src="pwa-features.js" defer></script>
        {{/if}}

        <link rel="stylesheet" href="styles/app.css">
        <!-- TODO: Size correctly -->
        <link rel="icon" href="icons/icon.png" type="image/x-icon" />
        <link rel="manifest" href="manifest.json">
    </head>
    <body>
        <div class="app">
            <div class="controls">
                <h1>
                    Contrast Checker
                </h1>

                <p>
                    Enter two colors below to calculate their contrast ratio and 
                    WCAG compliance.
                </p>

                <form class="colorForm">
                    <input class="colorForm__input js-color-input" type="text" id="js-foreground" value="#eee" name="foregroundColor">

                    <button id="js-swap" class="colorForm__button">
                        <svg class="colorForm__button-icon" viewBox="0 0 128 128" width="24" height="24">
                            <line x1="112" y1="41" x2="16" y2="41"/>
                            <polyline points="93,21 112.5,40.5 112.5,41 93,60.5 	"/>

                            <line x1="16" y1="87" x2="112" y2="87"/>
                            <polyline points="35,106.5 15.5,87 15.5,86.5 35,67 	"/>
                        </svg>
                    </button>

                    <input class="colorForm__input js-color-input" type="text" id="js-background" value="#437DE7" name="backgroundColor">
                </form>

                <div class="output">
                    <p class="output__section">
                        Contrast: <span id="js-contrast"></span>
                    </p>
                    <p class="output__section">
                        Large Text: <span id="js-large-text"></span>
                    </p>
                    <p class="output__section">
                        Small Text: <span id="js-small-text"></span>
                    </p>
                </div>
            </div>

            <div id="js-example" class="example" contenteditable>
                <h2>
                    Large Text
                </h2>

                <p class="large-text">
                    Large text is classified as being 18 points (24 pixels) 
                    or larger.
                </p>

                <p class="large-text--bold">
                    If the text is bold it only needs to be 14 points 
                     or larger to 
                    classify as large.
                </p>

                <h2>
                    Small Text
                </h2>

                <p class="small-text">
                    Small Text is classified as being smaller than 18 points 
                    (24 pixels).
                </p>

                <p class="small-text--bold">
                    If the text is bold it must be smaller than 14 points
                    (18.<span class="overline">6</span> pixels) to classify 
                    as small.
                </p>

                <h2>
                    Point Conversion
                </h2>

                <p class="small-text">
                    Although points are common in print typography, they are
                    rarely used on the web. Web design tends to use pixels (or
                    relative units) for font sizing. One point is equal to 
                    1.<span class="overline">3</span> pixels.
                </p>

                <!-- <p class="small-text">
                    Maintaining a minimum level of text contrast is <i>critical</i> for the 
                    usability and accessibility or your sites and applications.
                </p>

                <p class="small-text">
                    Following the <a href="#">WCAG accessibility guidelines</a> ensures that the 
                    majority of users will be able to read and understand your text content, whether
                    they're colorblind, have poor vision, or are just reading off of a screen with 
                    glare from the sun.
                </p> -->
            </div>

            <div class="footer">
                <input type="text" class="share-link" id="js-share-link">
            </div>
        </div>
    </body>
</html>